.enabled {
  background-color: blue;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper{
    overflow:hidden;
}

#map {
  position: absolute;
  top: 60;
  bottom: 0;
  width: 100%;
  transition: all .2s ease-in;
}

#LayerButtons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction:  column;
}

.layerButton, .navButton {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  height: 36px;
  border: none;
  outline: none;
  text-align: center;
  user-select: none;
  -webkit-appearance: none;
  vertical-align: middle;
  border-radius: 2px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.layerButton:hover, .navButton:hover {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.layerButton:active, .navButton:active {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 0px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color:  lightgray;
}

#coolockWrapper {
  position: absolute;
  bottom: 20px;
  right: 5px;
}

label{
    display:block;
    background:#000;
    width:42px;
    height:42px;
    position: fixed;
    top: 10px;
    left: 10px;
    transition: all 200ms ease-in;
    z-index: 500;
    cursor: pointer;
}

label.navButton {
  background:#EEE;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#navigationCB {
  display: none;
}

#navigationCB:checked ~ nav{
    margin:0;
}
#navigationCB:checked ~ label{
    left:260px;
}
#navigationCB:checked ~ #map{
    transform: translate3d(250px, 0, 0);
}

nav {
  position:fixed;
  top:0;
  left:0;
  width:250px;
  height:100%;
  margin:0 0 0 -250px;
  transition: all .2s ease-in;
}

nav ul{
    width:250px;
    height:100%;
    padding:0;
    margin:0;
    list-style:none;
    background:#7BC7CE;
    overflow:hidden;
}
nav li{
    margin:0;
    font-family: Open Sans;
    height: 2em;
    line-height: 2em;
    padding: .3em;
}

nav li:hover {
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
}

.autocomplete {
  margin: 10 0 0 90px;
  z-index: 99999999999;
}

.ui-helper-hidden-accessible {
  display: none;
}
