.enabled {
  background-color: blue;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

.wrapper{
    overflow:hidden;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: all .2s ease-in;
}

#LayerButtons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction:  column;
}

.layerButton, .navButton {
  width: 40px;
  height: 40px;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  height: 36px;
  border: none;
  outline: none;
  text-align: center;
  user-select: none;
  -webkit-appearance: none;
  vertical-align: middle;
  border-radius: 2px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.layerButton:hover, .navButton:hover {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.layerButton:active, .navButton:active {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 0px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color:  lightgray;
}

#coolockWrapper {
  position: absolute;
  bottom: 20px;
  right: 5px;
}

label{
    display:block;
    background:#000;
    width:42px;
    height:42px;
    position: fixed;
    top: 10px;
    left: 10px;
    transition: all 200ms ease-in;
    z-index: 500;
    cursor: pointer;
}

label.navButton {
  background:#EEE;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#navigationCB {
  display: none;
}

#navigationCB:checked ~ nav{
    margin:0;
}
#navigationCB:checked ~ label{
    left:260px;
    z-index: 999999;
}
#navigationCB:checked ~ #map{
    transform: translate3d(250px, 0, 0);
}

nav {
  position:fixed;
  top:0;
  left:0;
  width:250px;
  height:100%;
  margin:0 0 0 -250px;
  transition: all .2s ease-in;
  z-index: 999999;
}

nav ul{
    width:250px;
    height:100%;
    padding:0;
    margin:0;
    list-style:none;
    background:#7BC7CE;
    overflow:hidden;
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav li{
    font-family: Open Sans;
    line-height: 2em;
    padding: .4em .6em;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #333333b3;
}

nav li:hover {
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
}

nav li:active {
    background-color: rgba(0, 0, 0, .15);
}

.menuHeader {
  font-size: 14pt;
  font-weight: bold;
  padding: .6em;
  border-bottom:  1px solid black;
}

li:hover > .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 105px;
  left: 250px;
  background-color:  #7BC7CE;
  cursor: default;
  box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, 0.11), 4px 0px 5px 0px rgba(0, 0, 0, 0.14), 1px 0 10px 0px rgba(0, 0, 0, 0.12);
}

.submenu > svg {
  width: 200px;
  height: 226px;
  padding: 10px;
}

.submenu > svg > path {
  cursor: pointer;
  transform: scale(1);
  transform-origin: center;
  transition: all .2s ease-in;
}

.submenu > svg > path:hover {
  transform: scale(1.06);
}

.st0 {
  
}

.autocomplete {
  position: absolute;
  top: 10px;
  left: 80px;
  right: 80px;
  display: flex;
  z-index: 9999;
  justify-content: center;
}

.autocomplete > span {
  position: absolute;
  top: 50px;
  background-color: #2D3032;
  color: #F8F8F8;
  border-radius: 2px;
  padding: 10px;
  display: none;
}

.ui-autocomplete {
  z-index: 99999;
  overflow-y: auto;
  overflow-x:  hidden;
  max-height: 600px;
}

#arrival_time {
  margin-top: 40px;
}

#addressinput {
  width: 90%;
  max-width: 300px;
  background-color: #EEE;
  padding: 10px;
  border: 1px #dcdc;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.ui-helper-hidden-accessible {
  display: none;
}

#clockLabel {
  position: relative;
  top: -5px;
  left: 7px;
  width: 80px;
  height: 17px;
  background: #EEE;
  color: #000;
  text-align: center;
  padding-bottom: 5px;
  border-radius: 3px;
}

.modal-dialog {
  margin-top: 100px;
}

#issueLabel, #locationLabel {
  position: relative;
  width: 70px;
  height: auto;
  background: #FFF;
  display: inline;
  margin-right: 20px;
  top: -1px;
}

#issueLabel {
  margin-right: 45px;
}

#issue, #location {
  margin-bottom: 10px;
  width: 280px;
}

.marker {
  background-image: url('images/alert-icon-red.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 20px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
