<head>
    <meta charset='utf-8' />
    <title>Hollaback Map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='GPSdata.js'></script>
    <script src='timetravel.js'></script>
    <script src='coolock.js'></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.1/mapbox-gl-directions.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.1/mapbox-gl-directions.css' type='text/css' />
    <link rel='stylesheet' href='map.css' type='text/css' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.js'></script>
</head>
<body>
<div class="wrapper">
  <input type="checkbox" id="navigationCB" />
  <label for="navigationCB">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <nav>
    <ul>
      <li>
        Notifications
      </li>
    </ul>
  </nav>
  <div class="autocomplete">
    <input id='addressinput' name='addressinput' type="text" placeholder="Address.." />
  </div>
  <div id='map'></div>
    <div id="LayerButtons"></div>
    <div id="coolockWrapper"></div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

var vehicleIDs = Object.keys(GPSdata);

var clock = Timetravel.Clock();
clock.time(1518339600).speed(150);
var coolock = new Coolock({size: 100});


mapboxgl.accessToken = 'pk.eyJ1IjoiY293YW5nNCIsImEiOiJjamRodHYxZHAxMHF3MnBvMWM4cmF0Y29vIn0.g8Wb-swsy8VeQOISY8iOgw';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v9',
  center: [-73.9409, 42.8144],
  zoom: 3
});

function ease() {
  map.easeTo({bearing:0, duration:10000, pitch:50, zoom:13});
}

function line() {
  const colors = ["#ff0000", "#ff6f00", "#ffdd00", "#b2ff00", "#44ff00", "#00ff2b", "#00ff99", "#00f7ff", "#0088ff", "#0019ff", "#5500ff", "#c400ff", "#ff00cc", "#ff005e"];
  let i = 0;
  for (let i = 0; i < vehicleIDs.length; i++)
  {
    let coords = [];
    for (let vehicleEvent of GPSdata[vehicleIDs[i]])
    {
      coords.push([vehicleEvent.Longitude, vehicleEvent.Latitude]);
    }

    map.addLayer({
      "id": vehicleIDs[i],
      "type": "line",
      "source": {
          "type": "geojson",
          "data": {
              "type": "Feature",
              "properties": {},
              "geometry": {
                  "type": "LineString",
                  "coordinates": coords
              }
          }
      },
      "layout": {
          "line-join": "round",
          "line-cap": "round"
      },
      "paint": {
          "line-color": colors[i],
          "line-width": 8
      }
    });
  }
}

map.on('load', function(){
  ease();
  line();

  /*
  var directionsObj = new MapboxDirections({
    accessToken: mapboxgl.accessToken,
    profile: 'driving',
    congestion: false,
    interactive: false,
    geometries: 'geojson',
    alternatives: false,
    controls: {
      //inputs: false,
      //instructions: false,
      //profileSwitcher: false,
    },
  });
  directionsObj.on('route', function({route}) {
    console.log(route);
  });
  directionsObj.setOrigin([-122.48369693756104, 37.83381888486939]);
  directionsObj.setDestination([-122.49378204345702, 37.83368330777276]);
  map.addControl(directionsObj, 'top-left');
  */
})

$( "#addressinput" ).autocomplete({
  source: function(request, response) {
    var term = request.term;
    var result = GPSdata;

    response(result);
  },
});

// Add toggleable layer buttons
let layerButtons = document.getElementById("LayerButtons");
for (let vehicleID of vehicleIDs)
{
  let button = document.createElement("button");
  button.type = "button";
  button.classList.add("layerButton");
  button.textContent = vehicleID;

  button.addEventListener("click", (evt) => {
    let layerID = button.textContent;
    evt.preventDefault();
    if (button.classList.contains("disabled"))
    {
      button.classList.remove("disabled");
      map.setLayoutProperty(layerID, "visibility", "visible");
    }
    else
    {
      button.classList.add("disabled");
      map.setLayoutProperty(layerID, "visibility", "none");
    }
  });

  button.addEventListener("mouseenter", (evt) => {
    let layerID = button.textContent;
    evt.preventDefault();
    for (let vehicleID of vehicleIDs)
    {
      if (vehicleID != layerID)
        map.setPaintProperty(vehicleID, "line-opacity", 0.05);
      else {
        map.moveLayer(vehicleID);
      }
    }
  });

  button.addEventListener("mouseleave", (evt) => {
    let layerID = button.textContent;
    evt.preventDefault();
    for (let vehicleID of vehicleIDs)
    {
      if (vehicleID != layerID)
        map.setPaintProperty(vehicleID, "line-opacity", 1);
    }
  });

  layerButtons.appendChild(button);
}

</script>

</body>
</html>
