<head>
    <meta charset='utf-8' />
    <title>Hollaback Map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='GPSdata.js'></script>
    <script src='timetravel.js'></script>
    <script src='coolock.js'></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.1/mapbox-gl-directions.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.1/mapbox-gl-directions.css' type='text/css' />
    <link rel='stylesheet' href='map.css' type='text/css' />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.js'></script>
</head>
<body>
<div class="wrapper">
  <input type="checkbox" id="navigationCB" />
  <label for="navigationCB">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <nav>
    <ul>
      <li>
        Notifications
      </li>
    </ul>
  </nav>
  <div class="autocomplete">
    <input id='addressinput' name='addressinput' type="text" placeholder="Address.." />
    Estimated Arrival Time: <span id="arrival_time"></span>
  </div>
  <div id='map'></div>
    <div id="LayerButtons"></div>
    <div id="coolockWrapper"></div>
  </div>
</div>
<script>

var vehicleIDs = Object.keys(GPSdata);


var clock = Timetravel.Clock({time: 32400000, speed: 150});
clock.on("timechange", () =>
{
  if (this.time() > 54000000)
    clock.time(54000000);
});
var coolock = new Coolock({size: 100});

function compareTimes(date1, date2)
{
  if (date1.getHours() > date2.getHours())
    return true;
  if (date1.getHours() < date2.getHours())
    return false;
  if (date1.getMinutes() > date2.getMinutes())
    return true;
  if (date1.getMinutes() < date2.getMinutes())
    return false;
  if (date1.getSeconds() > date2.getSeconds())
    return true;
  if (date1.getSeconds() < date2.getSeconds())
    return false;

  return true;
}

mapboxgl.accessToken = 'pk.eyJ1IjoiY293YW5nNCIsImEiOiJjamRodHYxZHAxMHF3MnBvMWM4cmF0Y29vIn0.g8Wb-swsy8VeQOISY8iOgw';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v9',
  center: [-73.9409, 42.8144],
  zoom: 3
});

function ease() {
  map.easeTo({bearing:0, duration:5000, pitch:50, zoom:13});
}

function line() {
  const colors = ["#ff0000", "#ff6f00", "#ffdd00", "#b2ff00", "#44ff00", "#00ff2b", "#00ff99", "#00f7ff", "#0088ff", "#0019ff", "#5500ff", "#c400ff", "#ff00cc", "#ff005e"];
  let i = 0;
  for (let i = 0; i < vehicleIDs.length; i++)
  {
    let vehicleID = vehicleIDs[i];
    let events = GPSdata[vehicleIDs[i]];
    let color = colors[i];
    let coords = [];
    for (let vehicleEvent of events)
      coords.push([vehicleEvent.Longitude, vehicleEvent.Latitude]);

    map.addLayer({
      "id": vehicleID,
      "type": "line",
      "source": {
          "type": "geojson",
          "data": {
              "type": "Feature",
              "properties": {},
              "geometry": {
                  "type": "LineString",
                  "coordinates": coords
              }
          }
      },
      "layout": {
          "line-join": "round",
          "line-cap": "round"
      },
      "paint": {
          "line-color": color,
          "line-width": 8,
          "line-dasharray": [.01, 3],
          "line-opacity": .5
      }
    });

    map.addLayer({
      "id": vehicleID + "driven",
      "type": "line",
      "source": {
          "type": "geojson",
          "data": {
              "type": "Feature",
              "properties": {},
              "geometry": {
                  "type": "LineString",
                  "coordinates": []
              }
          }
      },
      "layout": {
          "line-join": "round",
          "line-cap": "round"
      },
      "paint": {
          "line-color": color,
          "line-width": 8
      }
    });

    // timed loop for updating truck progress
    // loops are staggered for each line so that they update at separate times
    const timeStagger = 100;
    let dataIndex = 0;
    let lineUpdate = () =>
    {
      if (dataIndex === events.length - 1)
      {
        dataIndex = 0;
        map.getSource(vehicleID + "driven").setData(
          {
              "type": "Feature",
              "properties": {},
              "geometry": {
                  "type": "LineString",
                  "coordinates": []
              }
          }
        );
      }
      else
      {
        let update = false;
        let currentTime = new Date(clock.time());
        let eventTime = new Date(events[dataIndex].StartTime);
        while (dataIndex < events.length - 1 && compareTimes(currentTime, eventTime))
        {
          dataIndex++;
          eventTime = new Date(events[dataIndex].StartTime)
          update = true;
        }

        if (update)
        {
          let drivenCoords = coords.slice(0, dataIndex);

          map.getSource(vehicleID + "driven").setData(
            {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "LineString",
                    "coordinates": drivenCoords
                }
            }
          );
        }

      }

      window.setTimeout(lineUpdate, vehicleIDs.length * timeStagger);
    };

    window.setTimeout(lineUpdate, i * timeStagger);
  }
}

function buildings() {
  // Insert the layer beneath any symbol layer.
  var layers = map.getStyle().layers;

  var labelLayerId;
  for (var i = 0; i < layers.length; i++) {
      if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
          labelLayerId = layers[i].id;
          break;
      }
  }

  map.addLayer({
      'id': '3d-buildings',
      'source': 'composite',
      'source-layer': 'building',
      'filter': ['==', 'extrude', 'true'],
      'type': 'fill-extrusion',
      'minzoom': 15,
      'paint': {
          'fill-extrusion-color': '#aaa',

          // use an 'interpolate' expression to add a smooth transition effect to the
          // buildings as the user zooms in
          'fill-extrusion-height': [
              "interpolate", ["linear"], ["zoom"],
              15, 0,
              15.05, ["get", "height"]
          ],
          'fill-extrusion-base': [
              "interpolate", ["linear"], ["zoom"],
              15, 0,
              15.05, ["get", "min_height"]
          ],
          'fill-extrusion-opacity': .6
      }
  }, labelLayerId);
}

map.on('load', function(){
  ease();
  line();

  /*
  var directionsObj = new MapboxDirections({
    accessToken: mapboxgl.accessToken,
    profile: 'driving',
    congestion: false,
    interactive: false,
    geometries: 'geojson',
    alternatives: false,
    controls: {
      //inputs: false,
      //instructions: false,
      //profileSwitcher: false,
    },
  });
  directionsObj.on('route', function({route}) {
    console.log(route);
  });
  directionsObj.setOrigin([-122.48369693756104, 37.83381888486939]);
  directionsObj.setDestination([-122.49378204345702, 37.83368330777276]);
  map.addControl(directionsObj, 'top-left');
  */
})

var allEvents = [];
for (let i = 0; i < vehicleIDs.length; i++)
{
  allEvents = allEvents.concat(GPSdata[vehicleIDs[i]]);
}

$("#addressinput").autocomplete({
  source: function(request, response) {
    var term = request.term;
    var matches = allEvents.filter(evnt => evnt.Location.toLowerCase().includes(term.toLowerCase()));
    var result = matches.map(x => x.Location);
    response(result);
  },
});

var address_event = null;

$("#addressinput").on("autocompleteselect", function(event, ui) {
  var val = ui.item.value;
  address_event = allEvents.filter(evnt => evnt.Location == val)[0];
  var time = new Date(Date.parse(address_event.StartTime));
  if (time.getHours() >= 12) {
    $('#arrival_time').html(time.getHours()+':'+time.getMinutes()+' PM');
  }
  else {
    $('#arrival_time').html(('0'+time.getHours()).slice(-2)+':'+('0'+time.getMinutes()).slice(-2)+' AM');
  }

  var current_time = new Date('2018-2-1T05:00:00');
  var v_id = address_event.VehicleID;
  var route = GPSdata[v_id];
  var most_recent = route.filter(evnt => Date.parse(evnt.StartTime) > current_time)[0];
  var traffic_time = null;
  var direct_time = null;
  var promises = [$.ajax({
    method: 'GET',
    url: `https://api.mapbox.com/directions/v5/mapbox/driving-traffic/${most_recent.Longitude},${most_recent.Latitude};${address_event.Longitude},${address_event.Latitude}`,
    data: {
      access_token: mapboxgl.accessToken,
      overview: 'full',
      annotations: 'duration,congestion'
    },
    dataType: 'json',
    error: function(xhr, tstatus, error) {
      console.log(error);
      console.log(tstatus);
      console.log(xhr);
    }
  }).then((data, tstatus, xhr) => {
    traffic_time = data.routes[0].legs[0].annotation.duration.reduce((a, b)=>a + b, 0);
  }),
  $.ajax({
    method: 'GET',
    url: `https://api.mapbox.com/directions/v5/mapbox/driving/${most_recent.Longitude},${most_recent.Latitude};${address_event.Longitude},${address_event.Latitude}`,
    data: {
      access_token: mapboxgl.accessToken,
      overview: 'full',
      annotations: 'duration,congestion'
    },
    dataType: 'json',
    error: function(xhr, tstatus, error) {
      console.log(error);
      console.log(tstatus);
      console.log(xhr);
    }
  }).then((data, tstatus, xhr) => {
    direct_time = data.routes[0].legs[0].annotation.duration.reduce((a, b)=>a + b, 0);
  })];

  Promise.all(promises).then(() => {
    var delay_time = traffic_time - direct_time;
    time.setSeconds(time.getSeconds()+delay_time);
    if (time.getHours() >= 12) {
      $('#arrival_time').html(('0'+time.getHours()).slice(-2)+':'+('0'+time.getMinutes()).slice(-2)+' PM');
    }
    else {
      $('#arrival_time').html(('0'+time.getHours()).slice(-2)+':'+('0'+time.getMinutes()).slice(-2)+' AM');
    }
  });
});

// Add toggleable layer buttons
let layerButtons = document.getElementById("LayerButtons");
for (let vehicleID of vehicleIDs)
{
  let button = document.createElement("button");
  button.type = "button";
  button.classList.add("layerButton");
  button.textContent = vehicleID;

  button.addEventListener("click", (evt) => {
    let layerID = button.textContent;
    evt.preventDefault();
    if (button.classList.contains("disabled"))
    {
      button.classList.remove("disabled");
      map.setLayoutProperty(layerID, "visibility", "visible");
      map.setLayoutProperty(layerID + "driven", "visibility", "visible");
    }
    else
    {
      button.classList.add("disabled");
      map.setLayoutProperty(layerID, "visibility", "none");
      map.setLayoutProperty(layerID + "driven", "visibility", "none");
    }
  });

  button.addEventListener("mouseenter", (evt) => {
    let layerID = button.textContent;
    evt.preventDefault();
    for (let vehicleID of vehicleIDs)
    {
      if (vehicleID != layerID)
      {
        map.setPaintProperty(vehicleID, "line-opacity", 0.05);
        map.setPaintProperty(vehicleID + "driven", "line-opacity", 0.05)
      }
      else
      {
        map.moveLayer(vehicleID);
        map.moveLayer(vehicleID + "driven");
      }
    }
  });

  button.addEventListener("mouseleave", (evt) => {
    let layerID = button.textContent;
    evt.preventDefault();
    for (let vehicleID of vehicleIDs)
    {
      if (vehicleID != layerID)
      {
        map.setPaintProperty(vehicleID, "line-opacity", .5);
        map.setPaintProperty(vehicleID + "driven", "line-opacity", 1)
      }
    }
  });

  layerButtons.appendChild(button);
}


$(document).ready(function() {
});

</script>

</body>
</html>
